$nochar:50px;

.noCharacter{
	width: 100% !important;
	margin: 0 auto;
  	padding: $nochar;
  	text-align: center;
}

.modified {
	text-align: right;
}

.bar-contnet {
	padding-top: 10px;
}

.listrow{
	color: black;
	text-decoration: none; 
}

.listrow:hover {
	color:orange;
	text-decoration: none; 
	background-color: grey;
}


