$navbar_height:200px;
$bg-color:orange;

body{
	background-color: $bg-color;
}

.ui image header{
	padding-top: 80px;
}

.navbar{
	background-color: black;
	height:$navbar_height;
	text-align: center;
	.center {
		margin-top: -22px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 50px;
		width: 250px;
		float: right;
	}
}

.menu {
		background-color: black;
		text-align: center;
		padding: 65px;
		margin-top: -12%;
		float: left;
	}

.menu a:hover{
	font-size: medium;
	text-decoration: none;
	border: 15px solid orange;
    box-sizing: border-box;
	border-width: thick;
    height: 75px;
}

.searchbar{
	text-align: center;
	position: relative;
	padding: 10px;
	display: inline-flex;
	.searchbar_input{
		width: 100%;
		padding: 10px;
		
		border-radius:0;
		input{
			padding-left: 20px;
			padding: 10px;
			border-radius:0;
			border-color:black;
		}
	}
	

}

ul {
	background-color:white;
}

.radiodiv{
	text-align: center;
	color: black;
	margin-left: 400px;
	.radioinput {
		padding: 10px;
	}
	padding-bottom:10px;
	border: 15px solid black;
    box-sizing: border-box;
    border-width: thick;
    height: 75px;
    width: 500px;
    display: grid;
    font-size: larger;
}

.w3-ul{
	list-style-type:none;
	padding:0;
	margin:0;
	li{
		padding:8px 16px;
		border-bottom:1px solid #ddd
	}
	li:last-child{
		border-bottom:none
	}
	
}

.w3-card-4,.w3-hover-shadow:hover{
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	width:auto;
}
.w3-bar{
	width:100%;
	overflow:hidden;
	a{
		padding:0;
	}

}

/* W3.CSS 4.12 November 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

.character_name{
	font-size: 20px;
	padding-left: 15px;
}

.ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg{
	width: 5em;
    height: 5em;
}


a {
	padding: 10px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: transparent;
	color:orange;
}
a.active {
	background-color: transparent;
	color: orange;
}

.ui.segment:last-child{
	margin-left: 300px !important;
	background-color: rgba(255,255,255,0.4);
	margin:50px;
}


